.navbar {
    background-color: var(--primary-background-color);
    padding: 25px 42px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    color: var(--primary-color-text);
    z-index: 2;
}

a {
    text-decoration: none;
    color: var(--primary-color-text);
    padding: 0px 20px;
}

a:hover {
    color: var(--primary-color-text-hover);
}

.navbar-brand {
    display: flex;
}

.navbar-logo {
    font-weight: bold;
    margin-right: 10px;

    > img {
        transform: scale(.7);
    }
}

.fa-bars {
    font-size: 20px;
}

.navbar-toggler {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.navbar-toggler-icon {
    display: none;
    width: 20px;
    height: 20px;
    background-color: #333;
    border-radius: 2px;
}

.navbar-menu {
    display: inline-block;
    list-style-type: none;
    padding: 0;
}

.navbar-menu.open {
    display: block;
    
}

.navbar-item {
    display: inline-block;
    margin-right: 10px;
    color: black;
}



@media (max-width: 768px) {
    .navbar {
        display: flex;
        flex-direction: column;
        padding: 48px;
    }
    .navbar-brand {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        width: 100%;
    }
    .navbar-toggler {
        display: block;
    }
    
    .navbar-menu {
        display: none;
    }
    
    .navbar-menu.open {
        display: flex;
        flex-direction: column;
        padding-top: 40px;
    }
    
    .navbar-item {
        display: block;
        margin-bottom: 10px;
    }
    .navbar-toggler-icon {
        display: block;
    }
}