@import "./_root.css";
@import "./about/about.css";
@import "./example/example.css";
@import "./contact/contact.css";

main {         
    > .section-1 {
        height: 100dvh;
        background-color: var(--primary-background-color);
    }
    >  .section-2 {
        height: 100dvh;
        background-color: cadetblue;
    }
    > .section-3 {
        height: 100dvh;
        background-color: var(--secondary-background-color);
    }
    > .section-4 {
        height: 100dvh;
        background-color: var(--primary-background-color);
    }
}
